.frontImage {
  background: url('/Front.png');
  background-repeat: no-repeat;
}

.FrameworkImage {
  background: url('/Services/3D_Framework_bg.png');
  background-repeat: round;
  background-size: cover;
}